/** @format */

.btn {
  /* color: inherit; */
  font-family: comingsoon;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.155);
  background: rgba(255, 255, 255, 0.153);
  border: 1px solid #d5d9d9;
  font-size: 0.7rem;
  height: 1.5rem;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 400;
  transition: 0.4s;

}

.btn:hover {
  background-color: #f7fafa51;
  border-color: #d5d9d9;
}

.btn-add {
  font-size: 1em;
  padding: 0.8em;
  border-radius: 3em;
  border: 0;
  box-shadow: 1px 1px 1px rgba(182, 182, 182, 0.383);
  margin-block-start: 1em;
  margin-inline-start: 0.5em;
}

.btn-add:hover {
  color: var(--clr2);
  background-color: var(--clr1);
}
.btn-submit {
  /* padding: 0.8em; */
  border-radius: 3em;
  border: 0;
  background-color: var(--clr1);
}

.btn-submit:hover {
  color: var(--clr2);
  background-color: var(--clr1);
}

.btn-close {
  color: var(--clr2);
  background-color: var(--clr1a);
  border: 0;
  border-radius: 3em;
}

.btn-close:hover {
  color: var(--clr0);
  background-color: var(--clr2);
}
