:root {
  --primary-color: #20c997;
  --light-gray: #f8f9fa;
  --dark-gray: #212529;
  
  --clr2: #f6f6f6;
  --clr1: #e4572e;
  /* --clr1: #ee6352; */
  --clr0: #17bebb;
  
  
  --clr0a: #17bebb71;
  --clr1a: #c73c12;
  --clr2a: #f6f6f6a7;
}
